.navbar {
	height: 70px;
}

.nav {
	padding-top: 10px;
}

li {
	display: inline;
	padding: 0px 20px 0px 20px;
}

.jumbotron img {
	padding-top: 50px;
}

.jumbotron {
	padding-top: 90px;
	min-height: 600px;
	margin-bottom: 0;
}

#header {
	background-image: url('images/background.png');
	background-size: cover;
	background-attachment: fixed;
}

#highlight {
	width: 500px;
	padding: 20px;
}

#footer {
	background-color: rgba(32, 35, 41, 0.9);
	padding-bottom: 40px;
}

#social-buttons button {
	color: white;
}

#social-buttons {
	margin-top: 40px;
}

#btn-twitter {
	margin-right: 10px;
	background-color: #00acee;
	border-color: #314776;
}

#btn-contact {
	margin-left: 10px;
	background-color: #b62f26;
	border-color: #b62f26;
}

.row {
	padding-top: 10px;
}

