.jumbotron {
	background-image: url('../images/background-about.png');
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
}

.navbar {
	height: 70px;
}

.jumbotron img {
	padding-top: 80px;
}

.nav {
	padding-top: 10px;
}

li {
	display: inline;
	padding: 0px 20px 0px 20px;
}

#buzz img {
	padding-bottom: 20px;
	padding-top: 30px;
}

p{
	padding-bottom: 40px;
}


#footer {
	background-color: rgba(32, 35, 41, 0.9);
	padding-bottom: 40px;
}

#social-buttons button {
	color: white;
}

#social-buttons {
	margin-top: 40px;
}

#btn-twitter {
	margin-right: 10px;
	background-color: #00acee;
	border-color: #314776;
}

#btn-contact {
	margin-left: 10px;
	background-color: #b62f26;
	border-color: #b62f26;
}

