<!DOCTYPE html>
<html>
	<head>
		<title>MAP - This Week's Tech Events</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<link rel="stylesheet" href="../static/css/bootstrap-3.3.6-dist/css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>

	<body>


		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				      	<span class="sr-only">Toggle navigation</span>
				      	<span class="icon-bar"></span>
				      	<span class="icon-bar"></span>
				      	<span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand" href="#">
				    <img alt="Brand" src="../static/images/brand.png">
				    </a>
				</div>

				<div class="collapse navbar-collapse">
				  	<ul class="nav navbar-nav navbar-right">
						<li><a href="#buzz">London Tech Events</a></li>
						<li><a href="about-us.html" target='_blank'>About Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
		

		<div class='jumbotron'>
			<div id='header'>
				<img src='../static/images/map-logo-1-small.png' class='center-block img-responsive'>
				<div class='container text-center'>
				<h1>Which tech event should you go to tonight?</h1>
				</div>
			</div>

			<div class='container text-center' id='newsletter'>
				<h2>Receive the weekly guide of London's best tech events!</h2>

				<div class="row container">
				<div class="col-sm-3">
				</div>


				<div class="col-sm-6">
				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
				<div id="mc_embed_signup">
					<form action="//twitter.us13.list-manage.com/subscribe/post?u=a1b34076f797cb0f56dd2a553&amp;id=663d482179" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    				<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL">Leave your email address to get your calendar of all the best London tech events, each Monday morning in your inbox!</label><br>
							<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
	    					<div style="position: absolute; left: -5000px;" aria-hidden="true">
	    						<input type="text" name="b_a1b34076f797cb0f56dd2a553_663d482179" tabindex="-1" value="">
	    					</div>
	    					<div class="clear">
	    						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button form-control">
	    					</div>
	    				</div>
					</form>
				</div>
				<!--End mc_embed_signup-->
				</div>

				<div class="col-sm-3">
				</div>

				</div>


			</div>		
		</div>
		
			
		<div class="container" id="buzz">
			<h1>Highlights</h1>

			<div class="panel panel-default">
				<table class="table">
					<tr class="row">
						<th class="col-sm-8">
							<p><strong><a href="http://www.meetup.com/Women-Who-Code-London/events/228996980/" target="_blank">Ruby Tech Talk Night</a></strong></p>
							<p><em>Tuesday August 2nd - Rentify, London</em></p>
							<p>Tech talk night for everything Ruby with 4 awesome speakers!</p>
						</th>

						<th class="col-sm-4">
							<img src="../static/images/women-who-code.png">
						</th>

					</tr>

					<tr class="row">
						<th class="col-sm-8">
							<p><strong><a href="https://www.eventbrite.co.uk/e/campus-meetup-women-august-tickets-24482428603" target="_blank">Google Campus London - Campus Meetup: Women</a></strong></p>
							<p><em>Thursday August 4th - Google Campus, London</em></p>
							<p>Campus Meetup: Women is back with the next installment of our much-loved 'First Thursday' breakfast. Come along to learn work / life lessons from the community, join a lively discussion and connect with like-minded entrepreneurial individuals.<br>
							As always, there will be time for networking, and coffee, tea and croissants will be provided. <br>
							Our August guest speaker:  Louise Doherty, from PlanSnap, discussing "How brands can supercharge your product, growth, and bank balance"</p>
						</th>

						<th class="col-sm-4">
							<img src="../static/images/campus-london-inline.png">
						</th>
					</tr>

				</table>
			</div>
		</div>

		<hr>

		<div class='container' id="calendar">
			
				<h1>Week of August 1st</h1>

				<div class="panel panel-default">

  					<div class="panel-heading"><strong>Monday August 1st</strong></div>
  					<table class="table">
						
						<div class="row container">

							<div class="col-sm-1">
								<p>6:30pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/javascript.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="http://www.meetup.com/founderscoders/events/232557244/" target="_blank">Founders and Coders - Free Code Camp: basic JavaScript</a></strong></p>
								<p><em>14 Palmers Road, E2 OSY, London</em></p>
								<p>A peer-led session with Founders and Coders, looking at the Free Code Camp Basic Javascript Challenge.
								If you are just beginning to get to grips with programming, this is a great place to start. Come prepared to ask questions and to help others.</p>
							</div>

						<div class="row container">

							<div class="col-sm-1">
								<p>6:30pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/javascript.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="http://www.meetup.com/founderscoders/events/232476871/" target="_blank">Founders and Coders - Pair programming in JavaScript for beginners: Codewars 8kyu</a></strong></p>
								<p><em>14 Palmers Road, E2 OSY, London</em></p>
								<p>This is a peer-led study group for people who have recently started their journey in programming in JavaScript and would like to get some practice pair programming together with somebody at a similar level.<br>
								The group will meet on Mondays, 6.30-8pm. Please make sure that you bring your own laptop and arrive between 6.15 and 6.30.<br>
								If you have no experience with JavaScript, then we recommend joining our JavaScript Basics study group before signing up for this one.<br>
								Also, make sure that you sign up for <a href="http://www.codewars.com/" target="_blank">Codewars</a> in advance.</p>
							</div>


						</div>

					</table>

				</div>

				<div class="panel panel-default">

					<div class="panel-heading">Tuesday August 2nd</div>
  					<table class="table">
						
						<div class="row container">
							<div class="col-sm-1">
								<p>6:30am</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/javascript.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="http://www.meetup.com/founderscoders/events/232570766/" target="_blank">Founders and Coders: Coding for Women</a></strong></p>
								<p><em>14 Palmers Road, E2 OSY, London</em></p>
								<p>These sessions are for people who identify as female and who are learning or want to learn to code. 
								Each week we will rotate across three formats and themes: 
								<ol>
								<li>1. Pair programming</li>
								<li>2. Course prerequisites</li>
								<li>3. Focused sessions on specific topics.</li>
								</ol></p>
							</div>

						</div>

					</table>

				</div>


				<div class="panel panel-default">

					<div class="panel-heading">Wednesday August 3rd</div>
  					<table class="table">
						
						<div class="row container">
							<div class="col-sm-1">
								<p>7:00pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/le-wagon.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="http://www.meetup.com/Le-Wagon-London-Coding-Station/events/232892181/" target="_blank">Le Wagon - Launch your Tech Product: Tools and Metrics, from Idea to Market Fit</a></strong></p>
								<p><em>14-22 Elder Street, E1 6BT, London</em></p>
								<p>This is a technical overview of all the skills, tools and cultures necessary to launch a web product. This workshop is designed for beginners. 
								<strong>Overview:</strong><br>
								1. Define a product pitch, using examples of start ups from Le Wagon alumni<br>
								2. Introduction to the AARRR framework<br>
								3. Basics on how the internet works, what's HTTP, what's an API<br>
								4. Useful services and tools that entrepreneurs can use to activate their landing page, automate processes, track metrics, prototype their MVP (mailchimp, Typeform, Formkeep, Google Analytics, Zapier, Olark etc..).<br>
								</p>
							</div>

						</div>

						<div class="row container">
							<div class="col-sm-1">
								<p>6:00pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/second-home.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="https://www.eventbrite.co.uk/e/impact-coffee-london-2-tickets-26586021506?aff=es2" target="_blank">Impact Coffee London #2</a></strong></p>
								<p><em>Second Home - 68-80 Hanbury Street, E1 5JL London</em></p>
								<p>Impact Coffee is an open invitation to create a global, leading-edge and pragmatic conversation about high-impact entrepreneurship.<br>
								History has shown that the world's most disruptive, successful and admired minds are the greatest change agents precisely because they share a native conviction that the fundamental purpose of business is to progress the world. They see profit as essential oxygen to a company's ability to thrive, and the fuel that maximises their positive impact.<br>
								They are founders, innovators, developers, wonderers – and they’re at their most powerful when they’re sharing their ideas and abilities.<br>
								Impact Coffee is where they meet to connect, inspire and collaborate. It’s a place for having surprising conversations, meeting kindred spirits, and developing the kind of local and global networks needed to propel pioneering business ideas into action. 
								</p>
							</div>

						</div>


					</table>

				</div>

				<div class="panel panel-default">

					<div class="panel-heading">Thursday August 4th</div>
  					<table class="table">
						
						<div class="row container">
							<div class="col-sm-1">
								<p>4:30pm to 6:30pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/general-assembly.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="https://generalassemb.ly/education/hiring-event-user-experience-designers-web-developer-meet-hire/london/24578" target="_blank">General Assembly - Hiring event: UX designers and web developers: Meet + Hire</a></strong></p>
								<p><em>The Relay Building, 1st Floor, 114 Whitechapel High Street, E1 7PT London</em></p>
								<p>General Assembly welcomes companies to meet User Experience Designers and Web Developers.</p>
							</div>

						</div>

						<div class="row container">
							<div class="col-sm-1">
								<p>6:00pm to 9:00pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/makers-academy.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="https://www.eventbrite.co.uk/e/black-techies-tickets-26699899117?aff=es2" target="_blank">Black Techies</a></strong></p>
								<p><em>Makers Academy - 50 Commercial Street, E1 6LT London</em></p>
								<p>This group is created to help increase collaboration and discussion for Black people in the Computer/Software Technology industry. As one of the smallest demographics in the tech industry, it's easy to feel alone as a black tech professional.<br>
								The aim of this group is to bring us together and create a safe space where we can support and inspire one another, while also being a platform for ideas to bring more black people into tech and raise awareness about some of the obstacles black people in tech face.<br>
								You do not have to be black to attend this event. We do not want to exclude anyone who supports our cause and wants to learn more about the smallest demographic in tech. We only ask that you respect that we are trying to create a platform for black people first and foremost. </p>
							</div>

						</div>

						<div class="row container">
							<div class="col-sm-1">
								<p>6:30pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/bitcoin.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="http://www.meetup.com/Cryptovest-FS-Bitcoin-Bootcamp-and-Investment-Club/events/231750194/" target="_blank">Meet and greet with Cryptovest: Bootcamp 2016 is open!</a></strong></p>
								<p><em>Coventry University London Campus University<br>
								House 109-117 Middlesex Street London E1 7JF, London</em></p>
								<p>This session is for people who a pretty new to the space and want to take their first steps in understanding how blockchain works from a theoretical and practical perspective. Also a great place to meet others starting on the same journey. With prizes to be won, games to play and the opportunity to hang out with yours truly what's not to like?<br>
								We are very proud to be sponsored by Coventry University London Campus which is where the event will be hosted.<br>
								The Session will involve the following.<br>
								1. Meet and Greet<br>
								2. Introduction to the bootcamp!<br>
								3. The basics everyone needs to understand about bitcoin and the blockchain + QandA<br>
								4. The basics of blockchain investing when, how and why + QandA<br>
								5. Quiz and Games<br>
								6. Networking - Speed Dating session<br>
								7. Finally the basics of blockchain use from a consumer and corporate perspective + Q + A<br>
								Drinks and Food will be provided</p>
							</div>

						</div>

					</table>

				</div>
				
				<div class="panel panel-default">

					<div class="panel-heading">Friday August 5th</div>
  					<table class="table">
						
						<div class="row container">
							<div class="col-sm-1">
								<p>6:00pm to 10:00pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/campus-london.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="https://nvite.com/FramerLondon/c118" target="_blank">Google Campus London - FramerJS</a></strong></p>
								<p><em>4-5 Bonhill Street, EC2A 4BX London</em></p>
								<p>Learn more about design tools, prototyping and how you can bring your designs to life. Join us Wednesday, August 5th for a presentation and workshop; be sure to bring your laptop so you can follow along with the demos. Having a copy of Framer and Sketch installed will be a plus but not essential. We'll have mentors available to walk you through the basics of Framer, answer questions, offer tips and help you with your own prototypes. We'd love to see what you’ve been making!</p>
							</div>

						</div>

					</table>

				</div>

				<div class="panel panel-default">

					<div class="panel-heading">Saturday August 6th</div>
  					<table class="table">
						
						<div class="row container">
							<div class="col-sm-1">
								<p>10:00am to 8:00pm</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/codecademy.png">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="http://www.meetup.com/Codecademy-London/events/232826857/" target="_blank">Codecademy - Katathon</a></strong></p>
								<p><em>Ace Hotel Shoreditch - 100 Shoreditch High Street, E1 6JQ London</em></p>
								<p>Join and try to practice and grind as many problems as possible to become a better coder - plus a lot of extra info, hacky tips, random fun, peer programming and more for everyone attending!<br>
								- Using the CodeWars platform (register from <a href="http://www.codewars.com/r/Nd_E0g" target="_blank">here</a> if you have not already:  - if you have any problem doing so, just contact me!), we will train together;<br>
								- You will be given a list of problems with a related scored;<br>
								- Problems will vary A LOT in difficulty, having room for both beginners at CodeCademy level and more advanced coders;<br>
								- All katas will be available in JS, while Ruby and Python will be available for almost all of them;<br>
								- Your goal is to score as much as possible within the day;<br>
								- Fair-play is important, so, if you have already done some kata, just say so to get a replacement one of about the same difficulty;<br>
								- Googling, peer-programming and anything else is ok - the main goal remains to learn and hone skills, keep that in mind! 
								</p>
							</div>

						</div>

					<div class="row container">
							<div class="col-sm-1">
								<p>9am to 9am on Sunday</p>
							</div>

							<div class="col-sm-1">
								<p>Free</p>
							</div>

							<div class="col-sm-1">
								<img src="../static/images/incubatex.jpg">
							</div>

							<div class="col-sm-9">
								<p><strong><a href="https://www.eventbrite.co.uk/e/incubatex-london-student-hackathon-tickets-26741001054?aff=es2" target="_blank">IncubateX London - Student Hackathon</a></strong></p>
								<p><em>1E Poultry Ave, EC1A 9PT London</em></p>
								<p><strong>Are you a student in secondary school, college or university and like coding? If so, this is for you!</strong><br>
								IncubateX is the largest student hackathon in the world. Taking place in 19 cities around the world, more students than ever will be coding on the same day. From Korea to Germany to the USA, IncubateX is everywhere.<br>
								The London event will be held at the Innovation Warehouse in London and will be 24 hours. 
								</p>
							</div>

						</div>


					</table>

				</div>

		</div>

		<div id='footer' class='text-center'>
			<div class="container">
		    	<div id='social-buttons'>
		    		<a href="https://twitter.com/LondonTechMap" target="_blank"><button class="btn btn-lg" id="btn-twitter">Twitter</button></a>
		    		<button class="btn btn-lg" id="btn-contact" data-toggle="modal" data-target="#myModal">Tell us about your Event!</button>
		    	</div>
		  	</div>
		</footer>

		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	              <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title">Increase the visibility of your event, get it listed on Map!</h4>
	              </div>
	              <div class="modal-body">

		                <form method="post" action="/contact">
		                	<label for="name">Name: </label>
		                	<input type="text" id="name" name="name" value="" class="form-control" placeholder="Your name please :)" autofocus="autofocus" /><br>
		                	<label for="email">Email Address: </label>
							<input type="email" id="email" name="email" class="form-control" value="" placeholder="name@domain.com" required="required" /><br>
							<label for="message">What is your event about?</label>
							<input type="text" id="message" name="message" class="form-control" value="" placeholder="Tell us about your event!" required="required" /><br>
							<label for="URL">Event URL</label>
							<input type="url" id="url" name="url" class="form-control" value="" placeholder="http://www.tech-event.com"><br>
							
			              <div class="modal-footer">
			                	<input type="submit" value="Submit" id="submit-button" class="form-control" />
			              </div>
		              </form>
	              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


	</body>
</html>